@font-face {
  font-family: artsy;
  src: url(./fonts/FacultyGlyphic-Regular.ttf);
}

body{
    background-color: gray;
}
.digital{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top: 5vw;
    flex-wrap:wrap;
}


.galleryimg {
  height: 600px;
  object-fit: scale-down;
}

.entry {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.entry p{
  font-family: artsy;
  font-size: 130%;
}